* {
    margin: 0;
}

@font-face {
    font-family: 'SF-Pro Light';
    src: url(fonts/SF-Pro-Display-Light.otf) format('opentype');
}

@font-face {
    font-family: 'SF-Pro Regular';
    src: url(fonts/SF-Pro-Display-Regular.otf) format('opentype');
}

body {
    font-family: 'SF-Pro Regular';
}

.signup {
    padding-left: 5vw;
    padding-top: 14vh;
}

.item {
    margin-bottom: 12px;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 1px solid #ccc; /* Add your preferred border style */
    box-shadow: none;
    /* Add other styles as needed */
}

h1 {
    margin-bottom: 10vh;
}

label {
    display: block;
    color: rgb(131, 131, 131);
    font-size: 12px;
    margin-bottom: 6px;
}

input {
    border-radius: 5px;
    padding: 4px 8px;
}

input:valid {
    border-color: rgb(65, 173, 70);
}

.container {
    display: flex;
}

.background {
    background: url('Images/photo.jpeg') center/cover no-repeat;
    height: 100vh;
    flex: 3;
}

.signup {
    height: 80vh;
    flex: 5
}

button {
    margin-top: 10vh;
    margin-bottom: 2vh;
    border: 0;
    color: white;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.already {
    color: rgb(94, 94, 94);
    font-size: 14px;
}